<%- include includes/navbar.ejs %>
    <div class="container-fluid">
        <div class="row" id="dashboard-top-pane">
            <div class="col-sm-8">
                <div class="col-sm-12" id="myCoursesList">
                    <h2>MY COURSES</h2>
                    <hr>
                    <ul class="list-group">
                    <li class="list-group-item">New <span class="badge">RESUME</span>
                    <br><br>
                    <div class="progress yellow">
                        <div class="progress-bar progress-bar-success progress-bar-striped active" style="width:65%;">
                        <div class="progress-value">65%</div>
                        </div>
                    </div>
                    <div><center>PRACTICE <span class="glyphicon glyphicon-road"></span></center></div>
                    </li>
                    <li class="list-group-item">New <span class="badge">RESUME</span>
                    <br><br>
                    <div class="progress yellow">
                        <div class="progress-bar progress-bar-success progress-bar-striped active" style="width:65%;">
                        <div class="progress-value">65%</div>
                        </div>
                    </div>
                    <div><center>PRACTICE <span class="glyphicon glyphicon-road"></span></center></div>
                    </li>
                    <li class="list-group-item">New <span class="badge">RESUME</span>
                    <br><br>
                    <div class="progress yellow">
                        <div class="progress-bar progress-bar-success progress-bar-striped active" style="width:65%;">
                        <div class="progress-value">65%</div>
                        </div>
                    </div>
                    <div><center>PRACTICE <span class="glyphicon glyphicon-road"></span></center></div>
                    </li>
                    <li class="list-group-item">New <span class="badge">RESUME</span>
                    <br><br>
                    <div class="progress yellow">
                        <div class="progress-bar progress-bar-success progress-bar-striped active" style="width:65%;">
                        <div class="progress-value">65%</div>
                        </div>
                    </div>
                    <div><center>PRACTICE <span class="glyphicon glyphicon-road"></span></center></div>
                    </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="col-sm-12" id="myPoints">
                    <h2>POINTS</h2>
                    <hr>
                    <span id="points">92</span>
                
                </div>
            </div>
        </div>
        
        <div class="row" id="dashboard-bottom-pane">
            <div class="col-sm-3">
                <div class="col-sm-12" id="myProfile">
                    <div class="image">
                    <img src="https://media.giphy.com/media/10B1POqoY9kOME/giphy.gif" alt="" class="img-responsive img-rounded">
                    </div>
                    <br>
                    <div>DESCRIPTION</div>
                    <br>
                    <div class="btn btn-primary userInfo">INFO</div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="col-sm-12" id="myActivity">
                    <h2>ACTIVITY</h2>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="col-sm-12" id="number">4</div>
                        </div>
                        <div class="col-sm-8">
                            <div class="col-sm-12" id="coursesCompleted">
                            <h3>COURSES COMPLETED</h3>
                            <ul>
                                <li>JAVA</li>
                                <li>C++</li>
                                <li>PYTHON</li>
                                <li>JAVA</li>
                                <li>C++</li>
                                <li>PYTHON</li>
                            </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include includes/footer.ejs %>